# Ignore Mac system files
.DS_store
.Rproj.user
# big stuff
data/raw-data/*
data/*.fasta
output/*.index
output/*.index*
output/kallisto-quant/
output/kallisto-quant-cds/
output/kallisto-quant-rna/
data/raw-trimmed/
MA_plots.pdf
data/ncbi_dataset/
data/ncbi_dataset.zip
output/13-Hisat/*.stderr
output/*.ctab
output/*.tab
output/output.txt
output/gene_count_matrix.csv
output/hisat2-build_stats.txt
*db.*

tmp/
.RData